/* css for Broadway Design project*/

body {
  
  text-align: center;
  font-family: Helvetica;
  
  }

#header {

  background-image: url("../images/the-flatiron-building.png");

  }

h1 { 

  font-size:70px;
  font-weight: bold;
  color: white
  
  }
  
nav { 

  font-size: 18px;
  color: white; 
  
  }

a:link { color: white; }
a:visited { color: white; }
a:hover { color: black; }  /*not called for in redline, but there should ALWAYS be feedback 
 on a link so that users know it IS a link */
a:active { color: white; }

h2 {

  font-size: 23px;
  font-weight: bold;
  
  }

#tagline {

  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;

  }


p { font-size: 14px; }

.footer { 

  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  
  }
